.devise
  .title
    %h2 New Comment
  - @comment.errors.full_messages.each do |message|
    %li= message
  .form-box
    = form_with(model: @comment, url: task_comments_path(@comment.task), local: true) do |f|
      .devise_field
        .box-description
          -# = f.label :content, ''
          %br/
          = f.text_area :content, class: "textarea"
      .actions
        = f.submit 'submit'