$container-padding: 16px;

.board{
    background-color: white;
    margin: 1px;
    padding: 0 $container-padding;
    position: relative;

    .title{
        position: relative;
        width: 183px;
        height: 36px;
        top: 33px;
        margin-bottom: 33px;
    }

    h2 {
        position: absolute;
        height: 36px;
        left: 0%;
        top: calc(50% - 36px/2);

        font-family: 'Avenir';
        font-style: normal;
        font-weight: 800;
        font-size: 26px;
        line-height: 36px;
        /* identical to box height */


        color: #000000;
    }

}

.board-link{
    // position: relative;
    // display: block;
    // padding: 67px;
}

.add-new-board{
    position: relative;
    height: 160px;

    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    

    .add-new-board-title{
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        
        /* identical to box height */

        text-align: center;
        text-decoration: none;
        color: #000000;

        position: relative;
        // top: calc(50% - 25px/2);
        display: block;
        padding: 67px;
        

    }
}