@import './variables';

$heart-size: 16px;
$avatar-size: 32px;

.link{
  text-decoration: none;
}

.card {
  background-color: #F4F4F4;
  margin: 16px 0;
  cursor: pointer;
  border-radius: 10px;
  text-decoration-line: none;
  padding-bottom: 32px;

  &_content {
    padding: 16px 16px;
    height: auto;
    

    .card-title{
      position: relative;
      margin-bottom: 6px;
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      color: #000000;
      text-decoration: none;
      display: inline-block;

    }

    .card-menu{
      float: right;
    }

    .card_description{
      position: relative;
      top: 5px;

      font-family: 'Avenir';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;

      color: #000000;

      mix-blend-mode: normal;
      opacity: 0.4;
    }

    .card_author {
      position: relative;
      width: 30px;
      padding: 16px 16px;
      top: 29px;
  
      .avatar {
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
      }
    }
  }

  &_actions {
    padding: 15px;
    display: inline-block;
    position: absolute;
    right: 40px;

    // img {
    //   cursor: pointer;
    //   width: $avatar-size;
    //   height: $avatar-size;
    //   border-radius: 100%;
    //   margin-right: 16px;
    // }

    // &_actions {
    //   right: 0px;
    //   position: absolute;
    // }
  }
}