$container-padding: 16px;

.devise{
    background-color: white;
    margin: 1px;
    padding: 0 $container-padding;
    position: relative;

    .title{
        position: relative;
        width: 183px;
        height: 36px;
        top: 33px;
        margin-bottom: 33px;
    }

    h2 {
        position: absolute;
        height: 36px;
        left: 0%;
        top: calc(50% - 36px/2);

        font-family: 'Avenir';
        font-style: normal;
        font-weight: 800;
        font-size: 26px;
        line-height: 36px;
        /* identical to box height */


        color: #000000;
    }

    .form_box{
        position: relative;
        padding-top: 33px;

    }
    
    .devise_field{
        height: 69px;

        .box-email label, .box-password label, .box-name label, .box-description label, .box-eyecatch label {
            position: absolute;
            height: 25px;
            margin-top: 33px;
            margin-bottom:33px;

            font-family: 'Avenir';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            /* identical to box height */


            color: #000000;
        }

        .box-password, .box-description{
            position: relative;
            margin-top: 33px;
        }

        .box-email input[type="email"], .box-password input[type="password"], .box-name input[type="text"] {
            border: 0px;
            position: relative;
            margin-top: 40px;
            width: 362px;
            height: 40px;

            background: #F4F4F4;
            border-radius: 10px;
        }

        .box-eyecatch input[type="file"]{
            border: 0px;
            position: relative;
            margin-top: 40px;
            width: 362px;
            height: 40px;
        }

        .textarea{
            border: 0px;
            position: relative;
            width: 362px;
            height: 203px;
            margin-top: 40px;
            
            background: #F4F4F4;
            border-radius: 10px;
        }


    }

    .actions input[type="submit"]{
        border: 0px;
        position: relative;
        width: 362px;
        height: 40px;
        // left: 30px;
        top: 514px;
        margin-bottom: 32px;

        background: #F8BD1C;
        border-radius: 4px;
        // transform: matrix(1, 0, 0, -1, 0, 0);

        font-family: 'Avenir';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */


        color: #FFFFFF;
    }


}

