.task_content{
    background: #F4F4F4;
    border-radius: 10px;

    &_box{
        // left: 41px;
        // top: 384px;
        // display: block;

        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;

        color: #000000;
    }
    
}